.header {
  background-color: #fde2d4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 85px; }
  .header .logo {
    cursor: pointer;
    margin-right: auto;
    padding: 5px 10%; }
    .header .logo img {
      height: 80px;
      width: auto; }
  .header .nav-links {
    list-style: none;
    margin-right: 50px; }
    .header .nav-links li {
      display: inline-block;
      padding: 0 20px;
      cursor: pointer; }
      .header .nav-links li a {
        font-size: 700;
        color: #4c453b;
        text-decoration: none; }
        .header .nav-links li a:hover {
          color: #f17131; }

.navBoton {
  color: #2c3e50;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  display: none; }

.navegacion {
  height: 10vh;
  background-color: #fde2d4; }

@media (max-width: 850px) {
  .header {
    height: 60px;
    display: flex;
    z-index: 1000; }
    .header .logo {
      cursor: pointer;
      margin-right: auto;
      padding: 5px 10%; }
      .header .logo img {
        height: 70px;
        width: auto; }
    .header .nav-links {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      background-color: #2c3e50;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      padding: 10px 0;
      font-size: 22px; }
      .header .nav-links li {
        padding: 10px 0; }
        .header .nav-links li a {
          color: #fde2d4; }
  .navBoton {
    display: block;
    position: relative;
    right: 15px;
    cursor: pointer; } }

.navbar-toggler {
  border: none; }

@media (max-width: 350px) {
  .navegacion {
    height: 15vh; } }

.footer {
  width: 100vw;
  /*padding: 45px 0;*/
  background-color: #fde2d4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  font-size: large; }
  .footer ul {
    list-style-type: none;
    display: flex;
    margin: 0 15px; }
    .footer ul li a {
      color: #4c453b;
      text-decoration: none;
      margin: 0 15px; }

.whatsFoot {
  display: none; }

.form-register {
  background-color: #fde2d4;
  font-size: 30px; }

.primerEstilo, .segundoEstilo {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: right; }

.segundoEstilo {
  font-size: 35px; }

.heroText p {
  font-weight: 100;
  line-height: 27px;
  margin: 0; }

.heroText h1 {
  margin: 0;
  font-family: Cambria; }
