.hero {
    width: 100%;
    height: 100%;
    background-image: url(./img/fondo-modelado.png);
    background-size: cover;
  
    .contenedorTexto {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
  }
  
  .heroText {
    width: 50%;
    color: #FFFFFF;
    font-size: x-large;
  
    h1 {
      margin: 0;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
      /* text-align: center;*/
    }
  
    p {
      font-weight: 100;
      line-height: 27px;
      margin: 0;
  
      /* text-align: center;*/
    }
  }